*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f2f2f2;
}

.container{
    background:white;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:15px;
}

p{
    margin-bottom:25px;
}

.counter-box{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

button{
    padding:12px 20px;
    font-size:20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#dec{
    background:#ddd;
}

#inc{
    background-color:#3b6cba;
    color:white;
}

#Reset{
    background-color:#ef4444;
    color:white;
}

#count{
    font-size:40px;
    color:#2563eb;
    font-weight:bold;
}
.icon{
    width: 40px;
    height: 40px;
    background-color: #31b3cd;
    color: #f2f2f2;
    border-radius: 6px;
    display: grid;
    place-items: center;
    font-size: 10px;
    font-weight: bold;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr) ;
}
.title{
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}



